<div class="w-full py-6 px-4">
   <h1 class="text-3xl font-extrabold text-orange-500 mb-8 text-center">
      Historique
   </h1>

 
   <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
     <% meals.forEach(meal => { %>
  <div
    class="w-72 bg-white shadow-md rounded-2xl overflow-hidden transition transform hover:scale-105 hover:shadow-lg">
    
    <img
      src="http://localhost:5000/public/images/<%= meal.image_path || '/images/meal_placeholder.png' %>"
      alt="Image du plat"
      class="w-full h-48 object-cover" />
    
    <div class="p-4">
      <!-- Nom du plat -->
      <h2 class="text-lg font-bold mb-1"><%= meal.name %></h2>

      <!-- Valeurs nutritionnelles -->
      <p class="text-gray-600 text-sm mb-3">
        Calories: <%= meal.calories || 0 %> kcal |
        Protéines: <%= meal.proteins || 0 %> g |
        Glucides: <%= meal.carbs || 0 %> g |
        Lipides: <%= meal.fats || 0 %> g
      </p>

      <!-- Infos + bouton -->
      <div class="flex justify-between items-center">
        <span class="font-bold text-orange-500 text-sm">
          Ajouté le <%= meal.created_at.toISOString().slice(0,10) %>
        </span>
       <button onclick="suprimer(<%= meal.id %>)"  
        id="<%= meal.id %>" 
        class="font-bold text-orange-500 text-sm">
  supprimer
</button>
      </div>
    </div>
  </div>
<% }) %>

   </div>

  
<script>
  async function suprimer(id) {
    try {
      const response = await fetch(`historique/${id}`, {
        method: "DELETE",
      });

      if (response.ok) {
        document.getElementById(id).parentElement.remove();
        console.log("Meal supprimé !");
         window.location.reload();
      } else {
        console.error("Erreur lors de la suppression :", response.statusText);
      }
    } catch (error) {
      console.error("Erreur réseau :", error);
    }
  }
</script>
</div>
